/* *************************************************************************************************************
********                                 INDEX   HTML                                                  *********
***************************************************************************************************************/
#slide{
    margin-bottom: 3vh;
}
/* *************************************************************************************************************
********                                 HTML                                                          *********
***************************************************************************************************************/
body{
    background-color:#ADC4CC ;

}
.top-bar, .top-bar ul {
    background-color:#E19D29;
}