{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="classement">

        <div class="hero-section">
            <div class="hero-section-text">
                <h1>CLASSEMENT</h1>
                <h5>GENERAL</h5>
            </div>
        </div>



    </div>
    <div class="row" id="table">
        <div class="large-12 columns">
    <table>
        <thead>
        <tr>
            <th width="200">PRENOM</th>
            <th width="150">NOM</th>
            <th width="150">TOTAL DES POINTS</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for resultat in classement %}
        <tr>
            <td>{{ resultat.firstname }}</td>
            <td>{{ resultat.lastname }}</td>
            <td>{{ resultat.total }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
        </div>
    </div>

{% endblock %}
