{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="classement">


        <div class="hero-section">
            <div class="hero-section-text">
                <h1>Classement</h1>
                <h5>18/07/2017</h5>
            </div>
        </div>



    </div>
    <table>
        <thead>
        <tr>
            <th width="200">NOM</th>
            <th>Temps</th>
            <th width="150">points</th>
            <th width="150">????</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Jean Claude Duss</td>
            <td>Time goes there</td>
            <td>Points goes there</td>
            <td>bullshit goes there</td>
        </tr>
        <tr>
            <td>Bibi Lafrite</td>
            <td>Time goes there</td>
            <td>Points goes there</td>
            <td>bullshit goes there</td>
        </tr>
        <tr>
            <td>Sidharta gautama</td>
            <td>Time goes there</td>
            <td>Points goes there</td>
            <td>bullshit goes there</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
